/* Navigation Section */

.nav-item {
  padding: 0 40px;
  font-size: 1.2em;
  font-weight: bold;
  color: #49b685;
}

/* Hero Section */

.container-bg {
  padding: 4% 15%;
}

.container-bg h1 {
  font-weight: bold;
  padding-top: 10%;
  font-size: 2em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.container-bg p {
  font-size: 1.5em;
  padding: 0% 10% 0% 0%;
  text-align: center;
}

.container-bg img {
  width: 100%;
}

.prime-buttons button {
  margin-right: 10px;
}

.prime-buttons button:hover {
  color: white;
  background-color: white;
}

/* Skill Section */

.skills-section {
  background-color: white;
  text-align: center;
}

.column-section {
  border-left: solid 1px #d5f7e6;
}

.circle-icon {
  background: #5ae4a8;
  padding: 15px;
  border-radius: 50%;
}

.skill-description {
  padding: 5%;
  background-color: #49b685;
  height: 400px;
}

.skill-row {
  padding: 0 10px;
}

.skills {
  padding: 5% 0%;
  border: solid 1px #d5f7e6;
  border-radius: 5px;
  background-color: white;
  position: relative;
  bottom: 150px;
  margin: 0% 10%;
  height: auto;
}

/* Project Section */

.projects {
  text-align: center;
}

/* Contact Section */

.contact {
  padding: 5% 15%;
}

.contact h1 {
  text-align: left;
}

.contact label {
  font-size: 1.2rem;
}

.contact input {
  margin: 5px 0px;
  width: 100%;
  border-radius: 4px;
  padding: 15px 10px;
  border-style: none;
  border: solid 1px #363636;
  font-size: 25px;
}

.contact textarea {
  width: 100%;
  margin: 5px 0px;
  resize: none;
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 4px;
}

.form-section {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.footer {
  height: 500px;
  background-color: #5ae4a8;
}

/* Responsive Design Section */

@media (min-width: 1465px) {
  .container-bg h1 {
    text-align: left;
    font-size: 4.5em;
  }
  .container-bg p {
    text-align: left;
  }
}

@media (max-width: 900px) {
  .container-bg p {
    font-size: 1.3em;
  }
  .prime-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    text-align: center;
  }
}

@media (max-width: 400px) {
}
