/* Navigation Section */

.nav-item {
  padding: 0 60px;
}

.nav-item a {
  padding-top: 5px;
  font-size: 1.1em;
  font-weight: bold;
}

.nav-brand a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
}

/* Hero Section */

.container-bg {
  padding: 4% 15%;
}

.container-bg h1 {
  font-weight: bold;
  font-size: 3rem;
  padding-top: 10%;
  font-family: "Montserrat", sans-serif;
}

.container-bg p {
  font-size: 1.5em;
  padding: 0% 10% 0% 0%;
  /* text-align: left; */
}

.container-bg button {
  margin-top: 10px;
}

.container-bg button a {
  text-decoration: none;
  color: white;
}

.container-bg img {
  width: 100%;
}

.prime-buttons button {
  margin-right: 10px;
}

.prime-buttons button:hover {
  color: white;
  background-color: white;
}

/* Skill Section */

.skill-description {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
  background-color: #49b685;
  padding-bottom: 14rem;
}

.description-text-holder {
  margin: 5% 5%;
}

.description-text-holder h2 {
  color: white;
  font-size: 1.6em;
  line-height: 1.5;
}

.skills-section {
  background-color: white;
  text-align: center;
  position: relative;
  margin: 0% 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 5px;
}

.skill-container {
  position: relative;
  margin-top: -14rem;
}

.column-container {
  padding: 5% 0%;
}

.circle-icon {
  background: #5ae4a8;
  padding: 15px;
  border-radius: 50%;
}

.skill-item {
  padding: 0% 20%;
  text-align: left;
}

.skill-name {
  display: inline-block;
}

.skill-name p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.skill-rate {
  display: inline;
  text-align: right;
  float: right;
}

/* Project Section */

.projects {
  text-align: center;
  margin-top: 5%;
  padding: 0% 10% 5% 10%;
  background-color: white;
  font-weight: bold;
}

.projects h1 {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-size: 3em;
}

.projects h2 {
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 25px;
  color: black;
  font-weight: 300;
}

.project-item {
  padding: 10px 0;
}

.project-item img {
  border-radius: 10px;
  border: solid 1px #363636;
}

.container-project {
  background-image: url("/images/blog.png");
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container-project img {
  width: 100%;
  height: auto;
}

.container-project:hover button {
  border: solid 1px #363636;
  display: block;
}

.containerButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
}

/* Contact Section */

.contact-section {
  padding: 2% 2%;
}

#contact h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 3%;
}

#contact h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.contact-form {
  margin: 2% 0%;
}

.button-contact {
  margin: 2% 0%;
  width: 100%;
}

/* Footer section */

.footer {
  text-align: center;
  background-color: #5ae4a8;
  padding: 1%;
  margin-top: 5%;
}

.footer p {
  padding-top: 2%;
}

/* Responsive Design Section */

@media (max-width: 1000px) {
  .container-bg {
    text-align: center;
  }

  .container-bg h1 {
    padding-top: 10%;
    margin: 0%;
    font-size: 1.8rem;
  }

  .container-bg p {
    font-size: 1.2rem;
    padding: 5px 0px;
  }

  .container-bg button {
    margin: 10px 4px;
  }

  .skill-container {
    padding: 0%;
  }

  .skills-section {
    margin: 0% 5%;
    padding: 0%;
  }

  .skill-item {
    padding: 0% 10%;
    text-align: left;
  }

  .description-text-holder h2 {
    font-size: 1.3em;
    line-height: 1.5;
  }

  .contact-inside {
    padding: 0% 0%;
  }
}
