/* Navigation Section */

.nav-item {
  padding: 0 40px;
}

.nav-item a {
  font-size: 1.1em;
  font-weight: bold;
}

.nav-brand a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
}

/* Hero Section */

.container-bg {
  padding: 4% 15%;
}

.container-bg h1 {
  font-weight: bold;
  padding-top: 10%;
  font-size: 2em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.container-bg p {
  font-size: 1.5em;
  padding: 0% 10% 0% 0%;
  text-align: center;
}

.container-bg img {
  width: 100%;
}

.prime-buttons button {
  margin-right: 10px;
}

.prime-buttons button:hover {
  color: white;
  background-color: white;
}

/* Skill Section */

.skills-section {
  background-color: white;
  text-align: center;
}

.circle-icon {
  background: #5ae4a8;
  padding: 15px;
  border-radius: 50%;
}

.skill-description {
  padding: 5% 20% 0% 20%;
  background-color: #49b685;
  /* height: 400px; */
}

.column-section h1 {
  padding-top: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.apply-border {
  border-right: solid 1px #d5f7e6;
  border-left: solid 1px #d5f7e6;
}

.skill-row {
  padding: 0 10px;
}

.skills {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 5% 0%;
  border: solid 1px #d5f7e6;
  border-radius: 5px;
  background-color: white;
  position: relative;
  bottom: 150px;
  margin: 0% 10%;
  height: auto;
}

.skill-item {
  padding: 0% 20%;
  text-align: left;
}

.skill-name {
  display: inline-block;
}

.skill-rate {
  display: inline;
  text-align: right;
  float: right;
}

/* Project Section */

.projects {
  text-align: center;
  background-color: #5ae4a8;
  padding: 2% 10%;
}

.projects h1 {
  padding: 1% 0%;
}

/* Contact Section */

.contact {
  padding: 5% 15%;
}

.contact h1 {
  text-align: left;
}

.contact label {
  font-size: 1.2rem;
}

.contact input {
  margin: 5px 0px;
  width: 100%;
  border-radius: 4px;
  padding: 15px 10px;
  border-style: none;
  border: solid 1px #363636;
  font-size: 25px;
}

.contact textarea {
  width: 100%;
  margin: 5px 0px;
  resize: none;
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 4px;
}

.form-section {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.footer {
  height: 500px;
  background-color: #5ae4a8;
}

/* Responsive Design Section */

@media (min-width: 1000px) {
  .container-bg h1 {
    text-align: left;
    font-size: 4.5em;
  }
  .container-bg p {
    text-align: left;
  }

  .skill-description {
    padding: 5% 20% 18% 20%;
    background-color: #49b685;
    height: 370px;
    color: white;
    font-family: "Montserrat-black", sans-serif;
  }

  .skill-description h2 {
    font-size: 2.5em;
  }

  .skills {
    border: solid 1px #d5f7e6;
    border-radius: 5px;
    background-color: white;
    position: relative;
    bottom: 150px;
    margin: 0% 10%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .container-bg p {
    font-size: 1.3em;
  }
  .prime-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .skill-description {
    padding: 8% 8% 0% 8%;
    background-color: #49b685;
    height: 370px;
    color: white;
    font-family: "Montserrat-black", sans-serif;
  }

  .skills {
    border: solid 1px #d5f7e6;
    border-radius: 5px;
    background-color: white;
    position: relative;
    bottom: 150px;
    margin: 0% 10%;
    height: auto;
  }

  .skill-item {
    padding: 0% 10%;
    text-align: left;
  }

  .column-section {
    padding: 10% 0%;
  }

  .apply-border {
    border-top: solid 1px #d5f7e6;
    border-bottom: solid 1px #d5f7e6;
  }
}
